body,
html {
    font-family: 'Open Sans', serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #000;
    font-weight: 400;
    width: 100% !important;
    background-color: rgb(245, 245, 245);
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 36px;
    color: #000;
}

h3,
h4 {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-size: 15px;
}

p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}

a {
    color: #000;
    font-weight: 400;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

.nopadding {
    padding-left: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


ul,
ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

.section-title {
    margin-bottom: 70px;
}

.section-title p {
    font-size: 18px;
    color: #000;
}

.btn-custom {
    text-transform: uppercase;
    color: #000;
    background-color: #000;
    padding: 14px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
    color: #000;
    background-color: #000;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    outline-offset: none;
}


/*Navbar Styling*/

.navbar {
    margin: 0;
}

.navbar-custom {
    color: rgb(68, 132, 206);
    background-color: rgb(245, 245, 245);
}

.navbar-custom a {
    color: rgb(68, 132, 206);
}

.bold {
    font-weight: 700;
}

.dashboard-text {
    color: rgb(68, 132, 206);
}



/*Maps*/

.test {
    border: 1px solid rgb(68, 132, 206);
}

#map {
    position=relative;
    height: 20px;
}

.insights-row {
    height: 5vh;
}

.leaflet-container {
    z-index: 0;
}


/*Charts*/

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
    stroke: rgb(245, 245, 245);
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line {
    stroke: rgb(245, 245, 245);
}


/*Text*/

.total-surveys {
    margin-top:-7px;
    color: rgb(68, 132, 206);
    font-weight: bolder;
    font-size: 32px;
}

.content-row {
    padding-top:25px;
}


.info-text {
    font-family: 'Open Sans', serif;
    font-size:10px;
    color:rgb(68, 132, 206);
    max-width:270px;
}

.proportion-surveys{
    color: rgb(68, 132, 206);
    /*font-weight: bolder;*/
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -8px;
}

.total-survey-label {
    margin-top: -10px;
    color: rgb(68, 132, 206);
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

.bar-header {
    color: rgb(68, 132, 206);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;

}

.modal-header {
    color: rgb(68, 132, 206);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    border:none;
    /*margin-top:-8px;*/
    padding:0;
    
}

.modal-title {
        font-size: 16px;
        margin-bottom:10px;
        padding-bottom:5px;
        border-bottom: 1px solid rgba(68, 132, 206, 0.5);
}

.leaflet-container {
    background: rgb(245,245,245);
}
/*Links*/
.more > a{
    font-family: 'Open Sans', serif;
    font-size: 10px;
    color: #ff7e35;
    /*background-color: #F55800;*/
}


.more > a:hover{
    font-family: 'Open Sans', serif;
    font-size: 10px;
    color: #000;
    cursor:pointer;
}

/*Modal*/

#chart4 {
    height: 500px;
}


/*Dropdown*/

.styled-select {
    /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 98% 0;*/
    height: 29px;
    overflow: hidden;
    font-family: 'Open Sans', serif;
    /*font-size:10px;*/
    color: rgb(68, 132, 206);
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 12px;
    height: 29px;
    padding: 0px;
    /* If you add too much padding here, the options won't show in IE */
    width: 100%;
    text-transform: uppercase;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.semi-square {
    /*   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;*/
    border-bottom: 1px solid rgb(68, 132, 206);
}

.blue {
    background-color: rgba(11, 79, 161, 0.1);
}

.slight-padding {
    padding-top: 6px;
}

.right-column {
    border-left: 1px dashed rgba(41, 191, 154, 0.5);
}



/*Charts*/

.tooltip {
    /*font-family: 'Open Sans', serif;*/
    color: rgb(68, 132, 206);
    /*padding: 5px 20px;*/
}

.c3-text{
    font-size: 10px;
    font-family: 'Open Sans', serif;
    
}

.modal-header .c3-text {
    font-size:9px;
}


.chart-container .c3-tooltip-container{
    margin-left:150px;
}

.c3-tooltip  td {
    font-size:10px;
    font-style:normal;    
}


.c3-tooltip  th {
    background-color: rgb(68, 132, 206);
    font-size:10px;
    font-style:normal;

}

.c3-region.region1 {
  /*fill: #0b4fa1;*/
  /*border:1px solid #000;*/
}

.c3-region.region2 {
  /*fill: #4483ce;*/
}
/*.c3-region.region3 {
  fill: blue;
}*/
/*Zoom buttons*/
 .leaflet-control-zoom  {
  border-radius: 0px;
}

.single-chart {
    margin-top:11px;
}

.single-chart-installment {
    margin-top:18px;
}
/* popup */

.secondary-chart {
    margin-left:-50px;
}

.custom {
    font-family: 'Open Sans';
    font-size: 10px;
    border:1px solid rgb(68, 132, 206);
    /*padding:0;*/
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: rgba(245,245,245,1);
    color: rgb(68, 132, 206);
    border-radius: 0px;
}





.custom .leaflet-popup {
    position: absolute;
    text-align: center;
    }
.custom .leaflet-popup-content {
    margin: 0px 0px;
    text-align:center;
    padding:2px;
    }
.custom .leaflet-popup-tip {
    border:1px solid rgb(68, 132, 206);
    
    width: 10px;
    height: 10px;
    padding: 1px;

    margin: -8px auto 20px;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    }
.custom .leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    }

.custom  .leaflet-container a.leaflet-popup-close-button:hover {
    color: #999;
    }

.custom  .leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    }


.center-div {
  position: fixed; /* or absolute */
  top: 20%;
  left: 50%;
  z-index: 10000000000000;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

    /*text-align:center;*/
}

.icon-loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /*width:300px;*/
  transform: translate(-50%, -50%);
}

.center-div > svg {
    /*width: 300;*/
}

.info{
    background-color: rgb(245,245,245,0.8);
    padding:10px;
    z-index: 1000000;
    font-family: 'Open Sans', serif;
    font-size:12px;
    color:rgb(68, 132, 206);
    max-width:190px;
}



.legend-header{
    /*text-transform: uppercase;*/
    font-family: 'Open Sans', serif;
    font-size:12px;
    font-weight:bold;
    /*padding-bottom:5px;*/

} 

.legend-icon {
    padding-right:10px;
    font-size: 20px;
}

.legend-label {
    /*vertical-align: text-top;*/
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-10px
    /*padding-top:3px;*/
}

.legend-parent {
    position:relative;
}

.legend-description{
    text-transform: uppercase;
    font-size:12px;
    font-family: 'Open Sans', serif;
    margin-top:-2px;
    line-height: 1em;
    font-weight:bold;
    padding-bottom:5px;
    /*font-style:italic;*/

} 

.sidebar-content {
/*overflow-x: hidden; 
overflow-y: hidden; */
    /*width:200px;*/
    /*top:0;*/
}

/*.scroll-y {
    overflow-y: scroll;
}

.no-scroll {
    overflow:hidden;
}*/

.update {
    position:absolute;
    width:100%;
    height:100%;
}

.info-content p {
    font-size: 12px;
    font-family: 'Open Sans', serif;
}